[submodule "source/playnite-plugincommon"]
	path = source/playnite-plugincommon
	url = https://github.com/Lacro59/playnite-plugincommon.git
[submodule "source/UI-Cropping-Image"]
	path = source/UI-Cropping-Image
	url = https://github.com/Lacro59/UI-Cropping-Image.git
